/*============================== Buccaneer ==============================*/

//== Body
$body-auth-bg:   #dbdee5 !default;
$body-master-bg: #f5f8fa !default;

//== Navbar
$navbar-bg:           #46acc2 !default;
$navbar-border-color: #358da0 !default;
$navbar-border-width: 1px !default;
$navbar-height:       56px !default;

//== Footer
$footer-bg:     transparent !default;
$footer-height: 100px !default;

//== Page Header
$page-header-bg:    #fff !default;
$page-header-color: #343a40 !default;

//== Modules/Sections
$module-bg: #fff !default;
