/*============================== Buccaneer ==============================*/

.form-group {
    &.submit {
        padding-top: 10px;

        .cancel {
            margin-left: 3px;
        }
    }
}

.remember-submit {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;

    .form-check-label {
        font-size: 0.75rem;
        color: #000;
    }

    .form-check-input {
        margin-top: 0.2rem;
    }

    .form-group {
        margin: 0;

        &.submit {
            padding: 0;
        }
    }
}

.birthday {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    select {
        &:first-child {
            width: 72%
        }

        &:last-child {
            width: 25%
        }
    }
}


/*
|--------------------------------------------------------------------------
| Form Validation
|--------------------------------------------------------------------------
|
| I am not in love with the server-side form validation styles that
| are available within Bootstrap 4 so I have created this custom
| "invalid" class to style forms slightly differently.
|
*/
.form-group.invalid {
    label {
        color: $red;
    }

    .form-control {
        border-color: $red;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($red, 0.25);
        }
    }

    .invalid-feedback {
        display: block;
    }
}
