/*============================== Buccaneer ==============================*/

section {
    margin-bottom: 30px;
    padding: 25px 30px;
    background: $module-bg;

    &.clickable {
        cursor: pointer;
    }
}
